/* navbar */

.nb{
    background-color:antiquewhite;
}

.img-l{
 height: 407px;
 width: 407px;
 
}

.dtls{
    padding-left: 100px;
    padding-top: 120px;
}
.buy-bt{
    margin-top: 20px;
}
/* Card section */

.shoes-1{
    padding-top: 30px ;

}
.formal{
   padding-top: 120px;
}

.nt{
    margin-left: 60px;
}
.crd{

    width: 370px;
    height: 550px;
   
}
.crd-1{
    border:none;
}

/* Footer section */


.last{
    height: 417px;
    width: 1171px;
}
.ftr{
  padding-top: 150px;


}
.im-d{
margin-top: 152px;
}
.im-d img{

    height: 82px;
    width: 78px;
   
}
.xm{
    padding-top:500px;
    padding-left: 120px;
}
.xm img{
    height: 355px;
    width: 599px;
    
}